<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated_Paasword</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Generated Password:</h1>
        <h2 class="alert alert-info">{{ generated_pass }}</h2>
    </div>
    <div>
        <h2 class="btn btn-warning"><a href="{% url 'about' %}">About</a></h2>
    </div>
</div>
</body>
</html>