
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Password Generator Options</title>
</head>
<body>
<div class="container text-center">
<h1>Generate Password</h1>
<form  action="{% url 'password' %}" class="form form-check">
    <div>
        <label>Length of Pass:</label>
        <select name="length">
            <option name="length" value="7">7</option>
            <option name="length" value="8">8</option>
            <option name="length" value="9" selected="true">9</option>
        </select>
    </div>
    <div>
        <label>Numbers:</label>
        <input type="checkbox" name="Numbers">
    </div>
    <div>
        <lebel>Uppercase:</lebel>
        <input type="checkbox" name="Uppercase">
    </div>
    <div>
        <input type="submit"  value="Generate the password" class="btn btn-primary">
    </div>
</form>
</div>

</body>
</html>